%h1 Locations

- @locations.each do |f|
	= link_to f.name, location_path(f)
	%br

	= link_to "Edit", edit_location_path(f)
	= link_to "Delete", location_path(f), method: :delete
	%br
	%br

%br
= link_to "Home", root_path
= link_to "Add Location", new_location_path