%nav.navbar.navbar-default.navbar-static-top
	.container
		%ul.nav.navbar-nav.navbar-left
			%li.active{class: active_link('home')}
				= link_to "Home", root_path
			%li{class: active_link('users')}
				= link_to "Users", users_path
			%li{class: active_link('courses')}
				= link_to "Courses", courses_path	
			%li{class: active_link('assignments')}
				= link_to "Assignments", assignments_path
			%li{class: active_link('locations')}
				= link_to "Locations", locations_path			
		%ul.nav.navbar-nav.navbar-right			
			- if user_signed_in?	
				%li{:role => "presentation"}
					= link_to "Edit User Account", edit_user_registration_path
				%li{:role => "presentation"}
					= link_to "Logout", destroy_user_session_path, method: :delete	